configuration {
}

* {
    foreground: {{ mappings['xr_fg'] }};
    foreground-alt: {{ mappings['xr_ac1'] }};

    background: {{ mappings['xr_bg'] }};
    background-alt: {{ mappings['xr_color0'] }};

    /* Some blocks were not picking up the background properly */
    background-color: {{ mappings['xr_bg'] }};

    highlight: {{ mappings['xr_color1'] }};

    border-color: {{ mappings['xr_ac1'] }};

    font: "FiraCode Nerd Font 12";
}

#window {
    width: 800px;
    padding: 10px;
    border:  2px;
    border-radius: 0;
    color: @foreground;
    background-color: @background;
    border-color: @border-color;
    spacing: 0;
    children:  [vertb, mainbox];
    orientation: horizontal;
}

#mainbox {
    spacing: 0;
    children: [ inputbar, message, listview ];
}

#message {
	border: none;
    padding: 5;
    background-color: @background;
}

#inputbar {
    padding: 20px 20px 0 20px;
    border-color: @background-alt;
	color: @foreground-alt;
    foreground: @background;
    background-color: @background;
}

#entry,prompt,case-indicator {
    text-font: inherit;
    text-color:inherit;
}

#prompt {
    enabled: false;
}

#listview {
    padding: 20px;
    border: none;
    dynamic: false;
    lines: 8;
    background-color: @background;
}

#element {
    padding: 5px;
    vertical-align: 0.5;
    background-color: @background;
    color: @foreground;
}

#element selected  {
    background-color: @background-alt;
    color: @foreground-alt;
}

#vertb {
    expand: false;
    children: [ dummy0, sidebar, dummy1  ];
}

#sidebar {
    expand: false;
}
