* {
    foreground: {{ mappings['xr_fg'] }};
    foreground-alt: {{ mappings['xr_ac1'] }};

    background: {{ mappings['xr_bg'] }};
    background-alt: {{ mappings['xr_color0'] }};

    accent: {{ mappings['xr_color9'] }};

    border-color: {{ mappings['xr_ac1'] }};

    font: "RobotoMono Nerd Font Medium 14";
  }
