{
  "manifest_version": 2,
  "version": "1.0",
  "name": "Arrpee",
  "theme": {
    "colors": {
      "frame": {{ mappings['xr_background'] }},
      "frame_inactive": {{ mappings['xr_background'] }},
      "frame_incognito": {{ mappings['xr_background'] }},
      "frame_incognito_inactive": {{ mappings['xr_background'] }},
      "background_tab": {{ mappings['xr_color0'] }},
      "background_tab_inactive": {{ mappings['xr_background'] }},
      "background_tab_incognito": {{ mappings['xr_background'] }},
      "background_tab_incognito_inactive": {{ mappings['xr_background'] }},
      "bookmark_text": {{ mappings['xr_foreground'] }},
      "button_background": {{ mappings['xr_background'] }},
      "tab_background_text": {{ mappings['xr_foreground'] }},
      "tab_background_text_inactive": {{ mappings['xr_color7'] }},
      "tab_background_text_incognito": {{ mappings['xr_foreground'] }},
      "tab_background_text_incognito_inactive": {{ mappings['xr_color7'] }},
      "tab_text": {{ mappings['xr_foreground'] }},
      "toolbar": {{ mappings['xr_background'] }},
      "toolbar_button_icon": {{ mappings['xr_foreground'] }},
      "ntp_background": {{ mappings['xr_background'] }},
      "ntp_header": {{ mappings['xr_foreground'] }},
      "ntp_link": {{ mappings['xr_color4'] }},
      "ntp_text": {{ mappings['xr_foreground'] }}
    },
    "tints" : {
      "buttons" : [0.33, 0.5, 0.47]
    }
  }
}
