{
  "manifest_version": 2,
  "version": "1.0",
  "name": "Arrpee",
  "theme": {
    "colors": {
      "frame": {{ hex_to_rgb(mappings['xr_bg']) }},
      "frame_inactive": {{ hex_to_rgb(mappings['xr_bg']) }},
      "frame_incognito": {{ hex_to_rgb(mappings['xr_bg']) }},
      "frame_incognito_inactive": {{ hex_to_rgb(mappings['xr_bg']) }},
      "background_tab": {{ hex_to_rgb(mappings['xr_color0']) }},
      "background_tab_inactive": {{ hex_to_rgb(mappings['xr_bg']) }},
      "background_tab_incognito": {{ hex_to_rgb(mappings['xr_bg']) }},
      "background_tab_incognito_inactive": {{ hex_to_rgb(mappings['xr_bg']) }},
      "bookmark_text": {{ hex_to_rgb(mappings['xr_fg']) }},
      "button_background": {{ hex_to_rgb(mappings['xr_bg']) }},
      "tab_background_text": {{ hex_to_rgb(mappings['xr_fg']) }},
      "tab_background_text_inactive": {{ hex_to_rgb(mappings['xr_color7']) }},
      "tab_background_text_incognito": {{ hex_to_rgb(mappings['xr_fg']) }},
      "tab_background_text_incognito_inactive": {{ hex_to_rgb(mappings['xr_color7']) }},
      "tab_text": {{ hex_to_rgb(mappings['xr_fg']) }},
      "toolbar": {{ hex_to_rgb(mappings['xr_bg']) }},
      "toolbar_button_icon": {{ hex_to_rgb(mappings['xr_fg']) }},
      "ntp_background": {{ hex_to_rgb(mappings['xr_bg']) }},
      "ntp_header": {{ hex_to_rgb(mappings['xr_fg']) }},
      "ntp_link": {{ hex_to_rgb(mappings['xr_color4']) }},
      "ntp_text": {{ hex_to_rgb(mappings['xr_fg']) }}
    },
    "tints" : {
      "buttons" : [0.33, 0.5, 0.47]
    }
  }
}
