*.foreground:       #ebebeb
*.background:       #111317

! black
*color0  			: #171717
*color8  			: #38252C
! red
*color1  			: #D81765
*color9  			: #FF0000
! green
*color2  			: #97D01A
*color10 			: #76B639
! yellow
*color3  			: #FFA800
*color11 			: #E1A126
! blue
*color4  			: #16B1FB
*color12 			: #289CD5
! magenta
*color5  			: #FF2491
*color13 			: #FF2491
! cyan
*color6  			: #0FDCB6
*color14 			: #0A9B81
! white
*color7  			: #EBEBEB
*color15 			: #F8F8F8

*.font:     xft:FiraCode Nerd Font:size=10:antialias=true
*.boldFont: xft:FiraCode Nerd Font:style=Bold:size=10:antialias=true
*.italicFont: xft:FiraCode Nerd Font:style=Italic:size=10:antialias=true
*.boldItalicFont: xft:FiraCode Nerd Font:style=Bold Italic:size=10:antialias=true

!! URxvt Appearance
URxvt.internalBorder: 18
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true